.bios-modal {
  z-index: 2000;

  .modal-dialog {
    max-width: unset;
    margin: 0;
    width: 100%;
    pointer-events: auto;

    .modal-inner {
      min-height: 100vh;
      position: relative;
      overflow-x: hidden;

      .image-wrapper {
        .ratio {
          max-width: 500px;
        }
      }

      .content-wrapper {
        .name-wrapper {
          border-bottom: 1px solid $color-blue;
        }

        .info-wrapper {
          * {
            color: $white;
          }
        }
      }
    }
  }
}
