.homepage-header {
  height: 100vh;

  @include media-breakpoint-up(md) {
    min-height: rem-calc(900px);
  }

  .container {
    z-index: 1;
  }

  .content-wrapper {
    p {
      font-family: $primary-font;
      font-size: rem-calc(16px);
      font-style: normal;

      @include media-breakpoint-up(md) {
        font-size: rem-calc(24px);
      }
    }
  }
}

.standard-header {
  .border-container {
    height: 1px;
    background-color: $color-blue-pale;
  }
}

.background-image-header {
  .background-container {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .container {
    z-index: 1;

    .content-wrapper {
      .logo-image {
        height: 100%;
        max-width: 400px;
        max-height: 140px;
      }
    }
  }
}

.header-single {
  .background-container {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .container {
    z-index: 1;
    padding-top: 235px;
    padding-bottom: 75px;

    .share-links {
      margin-left: -14px;
      margin-right: -14px;

      .share-item {
        padding-left: 14px;
        padding-right: 14px;

        a {
          color: $white;
          font-size: rem-calc(18px);

          svg {
            width: 1em;
            height: 1em;
          }
        }
      }
    }
  }
}
